<div class="quien-soy-container">
  <h2 class="titulo">¿Quién soy?</h2>

  <div class="contenido">
    <div class="foto-container" *ngIf="fotoPerfilUrl">
      <img [src]="fotoPerfilUrl" alt="Foto de perfil" class="foto-perfil" />
    </div>

    <div class="info-personal">
      <p class="descripcion">
        ¡Hola! Soy <strong>Agustín Mondani</strong>, estudiante de la Tecnicatura Universitaria en Programación en la UTN.
      </p>
      <p><strong>DNI:</strong> 42432238</p>
      <p><strong>Legajo:</strong> 114616</p>
      <p><strong>Email:</strong> a.mondani&#64;hotmail.com</p>
    </div>
  </div>

  <div class="juego">
    <h3 class="subtitulo">Mi juego: Batalla Naval</h3>
    <p class="descripcion">
      Este es un juego en el que el jugador debe hundir <strong>7 barcos</strong> 
      escondidos en un tablero de 6x6. Cada jugador tiene <strong>8 intentos</strong> para encontrar todos los barcos. 
      Cuando se falla un disparo, el juego nos muestra un número que indica la distancia más corta desde ese casillero 
      hasta el barco más cercano, lo que permite planear mejor los siguientes movimientos y añadir un poco de estrategia.
    </p>
  </div>
</div>
