<h2 class="titulo">Batalla Naval</h2>

<div class="tablero">
  <div class="fila" *ngFor="let fila of tablero; let i = index">
    <div class="celda"
     *ngFor="let celda of fila; let j = index"
     [ngClass]="celda.startsWith('hit') ? 'hit' : celda.startsWith('miss') ? 'miss' : ''"
     (click)="disparar(i,j)">
  
  <ng-container *ngIf="celda === 'hit'">
  <img class="barco" src="https://dnajbskfruaklvmnchzv.supabase.co/storage/v1/object/public/assets/bote.svg" />
</ng-container>

  <ng-container *ngIf="celda.startsWith('miss')">
    <div class="splash"></div>
    <span class="distancia">{{ celda.split('-')[1] }}</span>
  </ng-container>
</div>

  </div>
</div>

<div class="info juego">
  <p>Intentos restantes: {{ intentos }}</p>
  <p>Aciertos: {{ aciertos }}/7</p>
  <p class="mensaje">{{ mensaje }}</p>

  <button *ngIf="juegoFinalizado" (click)="reiniciar()">Reiniciar</button>
</div>
